body{
	margin: 0px;
}
#header{
	background-color:white;
	height: 88px;
	width: 100%;
    margin: 0 auto;
    height: 88px;
    left: 0px;
    position: fixed;
    z-index: 100;
    display: block;
    top: 0;
}

#logo_rt {
    display: block;
    float: left;
    height: 121px;
    width: 228px;
    margin: 10px 0 0 15px;
    outline: none;
    border: none;
}
#logo_rt img {
    max-width: 228px;
    width: 100%;
    outline: none;
    border: none;
}
#navbar {
    float: right;
    height: 88px;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    width: 620px;
	display: inline-flex;
}

#navbar a {
    color: #000000;
    display: block;
    font-family: 'TandelleItalic';
    font-size: 28px;
    font-weight: lighter;
    height: 88px;
    letter-spacing: 0.1px;
    line-height: 85px;
    list-style: none outside none;
    text-decoration: none;
}
#blog {
    width: 35px;
}
.current_btn_p {
    background: url(../imgs/all.png) no-repeat scroll -225px -6px rgba(0, 0, 0, 0);
    display: block;
    height: 7px;
    margin: 2px auto 0;
    width: 12px;
    display: none;
}
.item_navbar {
    border-right: 1px solid #E5E5E5;
    float: right;
    height: 88px;
    padding: 0 29px;
    width: 67px;
}

#conteudo{
	background-color:#ffcc00;
	height: 800px;
}



/*         Footer       */

#footer{
	background-color: #000000;
    bottom: 0;
    display: block;
    height: 87px;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.divDireitos{
	color:#FFFFFF;
	width: 170px;
    font-size: 0.8em;
	font-style:italic;
	margin-top: 30px;
	margin-left: 20%;
}
.direitos{
	color:#FFFFFF;
	font-size:1.1em;
	font-style:normal;
}
#contatos{
	float:right;
	color:#FFFFFF;
	display: inline-flex;
	margin-top: -30px;
    margin-right: 10px;
}
.bt-footer{
	border-right: 1px solid #3d3d3d;
    display: block;
    float: right;
    height: 87px;
	width:100px;
}
.tel{
	color: #FFFFFF;
    font-family: "tandelleitalic";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 40px;
    padding: 0 31px;
	width:200px;
}
.icoFacebook{
    font-size:36px;
	text-align:center;
}
.btn_scroll {
    background-color: #FFFFFF;
    bottom: 44px;
    color: #000000;
    display: block;
    font-family: 'Lintel-Regular';
    font-size: 13px;
    font-style: italic;
    height: 65px;
    left: 50%;
    line-height: 14px;
    margin-left: -45px;
    padding: 25px 0 0;
    position: absolute;
    text-decoration: none;
    width: 90px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    -khtml-border-radius: 45px;
    border-radius: 45px;
    text-align: center;
}
.btn_scroll:hover{
	animation: mymove 0.2s;
	animation-iteration-count: 0.8;
	bottom:30px;
}

@keyframes mymove {
    from {bottom: 44px;}
    to {bottom: 30px;}
}